{% include include_path ~ '/80_users.j2' %}{{ '' }}
!
{% include include_path ~ '/100_hostname.j2' %}{{ '' }}
!
{% include include_path ~ '/120_snmp.j2' %}{{ '' }}
!
{% include include_path ~ '/140_aaa.j2' %}{{ '' }}
!
{% include include_path ~ '/160_logging.j2' %}{{ '' }}
!
{% include include_path ~ '/180_ntp.j2' %}{{ '' }}