{% include include_path ~ '/100_hostname.j2' %}{{ '' }}
!
{% include include_path ~ '/120_aaa.j2' %}{{ '' }}
!
{% include include_path ~ '/140_users.j2' %}{{ '' }}
!
{% include include_path ~ '/160_logging.j2' %}{{ '' }}
!
{% include include_path ~ '/180_snmp.j2' %}{{ '' }}
!
{% include include_path ~ '/200_ntp.j2' %}{{ '' }}